@use '../../style.scss' as *;

.tracker_wrap {
    margin: 0 auto;
    width: 353px;
    min-height: 782px;
    padding-top: 70px;
    margin-bottom: 120px;

    .tracker_main_title {
        font-size: 20px;
        font-weight: $medium;
        margin-bottom: 18px;
    }

    /* 상단 주차 영역 */
    .tracker_main_header {
        margin-bottom: 41px;

        .tracker_main_week {
            font-size: 20px;
            font-weight: $semibold;
            margin-bottom: 5px;
        }

        .tracker_info_link_btn {
            background: none;
            border: none;
            font-size: 12px;
            font-weight: $regular;
            cursor: pointer;
            margin: 0;
        }
    }

    /* 달력 섹션 */
    .tracker_calendar_container {
        width: 100%;
        .tracker_calendar_month_bar {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-bottom: 9px;
            margin-left: 12px;

            .tracker_month_title {
                font-size: 20px;
                font-weight: $semibold;
            }

            .tracker_nav_btn {
                background: none;
                border: none;
                cursor: pointer;
                display: flex;
                align-items: center;

                .tracker_arrow_img {
                    width: 5px;
                    height: 9px;
                }
            }
        }

        /* 7열 달력 그리드 */
        .tracker_calendar_grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            row-gap: 4px;
            column-gap: 4px;
            width: 100%;

            .tracker_day_cell {
                width: 47px;
                height: 40px;
                border-top: 1px solid $sub2;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                padding: 1px 15px 4px 16px;
                cursor: pointer;
                background-color: #FCFCFC;

                &.empty {
                    border-top: 1px solid $bg;
                    background-color: #FCFCFC;
                    cursor: default;
                }

                .tracker_day_num {
                    font-size: 10px;
                    font-weight: $medium;
                    color: #ACACAC;
                    margin-bottom: 7px;
                }

                .emotion_wrapper {
                    width: 16px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .tracker_emotion_img {
                        width: 100%;
                        height: 100%;
                    }
                }

                /*선택된 날짜 스타일 */
                &.selected {
                    border: 1px solid $sub1;
                    background-color: #F8FFFC;
                    border-radius: 3px;
                    position: relative;
                    z-index: 1;

                    .tracker_day_num {
                        color: $sub1;
                        font-weight: $medium;
                        font-size: 10px;
                    }
                }

                &.today {
                    background-color: $bg;
                }
            }
        }

        .tracker_main_today {
            padding: 3px 12px;
            box-shadow: 0px 0px 5px 0px #DADADA;
            border: 0px;
            border-radius: 5px;
            background-color: $white;
            font-weight: 100;
            font-size: 10px;
            color: $text;
            display: flex;
            margin: 50px auto -74px auto;
           
        }
    }


    //하단 카드 영역
    .tracker_record_section {
        margin-top: 84px;

        //날짜 타이틀
        .record_section_title {
            font-weight: $medium;
            font-size: 15px;
            margin-bottom: 16px;
        }

        // 카드 리스트 스타일은 src/components/TrackerRecordCard/TrackerRecordCard.scss 에서 관리

        .record_empty_text {
            font-weight: $regular;
            font-size: 12px;
            color: #ACACAC;
        }
    }
}