@use '../../common.scss' as *;

.wrap {
    .box {
        margin: 58px auto 0 auto; 
        display: flex; 
        flex-direction: column;
        gap: 30px;

        .input_box {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 353px;
            height: 80px;

            p {
                font-size: 15px;
                font-weight: $medium;
            }

            input {
                width: 100%;
                height: 50px;
                padding: 18px 21px;
                border-radius: 15px;
                border: 1px solid $sub2;
                font-size: 15px;
                font-weight: $medium;
                color: $text;

                ::placeholder {
                    font-size: 12px;
                    font-weight: $regular;
                    color: #ACACAC;
                }
            }

            input:focus {
                outline: none;
            }
        }

    }

    .info_detail {
        font-size: 12px;
        font-weight: $medium;
        color: #ACACAC;
        margin: 20px auto 73px auto;
    }

    button {
        border: none;
        border-radius: 15px;
        background-color: $main;
        color: #303030;
        font-size: 15px;
        font-weight: $semibold;
        padding: 10px 60px;
    }
}