@use '../../assets/common' as *;

.factor-list {
  border-radius: 15px;
  border: 1px solid;
  padding: 18px 15px 20px;
}

.factor-list-trigger {
  background: #fffbfb;
  border-color: #ffd7d9;

  .factor-list-title,
  .factor-list-item-label {
    color: #ff2424;
  }
}

.factor-list-relief {
  background: #f6fffb;
  border-color: $main;

  .factor-list-title,
  .factor-list-item-label {
    color: #0e9f59;
  }
}

.factor-list-header {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 20px;
}

.factor-list-title {
  @include font-semibold-15;
}

.factor-list-subtitle {
  font-family: 'Pretendard';
  font-weight: 300;
  font-size: 10px;
  color: #acacac;
}

.factor-list-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.factor-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.factor-list-item-name {
  display: flex;
  align-items: center;
  gap: 5px;
}

.factor-list-item-rank {
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 14px;
  color: #acacac;
}

.factor-list-item-label {
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 14px;
}

.factor-list-item-detail {
  @include font-regular-12;
  color: $text;
}
